* {
  margin: 0;
  font-family: Arial, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: right;
  background-color: #333;
  padding: 1rem;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 75%;
  margin: auto;
}

h1 {
  color: white;
}
