/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

fieldset input,
fieldset textarea {
  margin: 0.5rem 0;
}

p {
  margin: 0;
}

table {
  table-layout: fixed;
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

thead th:nth-child(1) {
  width: 50%;
}
